
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Curso Basico de Vue.js | Platzi</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    <img 
    v-on:mouseover="toggleShowPrices"
    v-on:mouseout="toggleShowPrices"
    v-bind:src="img" v-bind:alt="name">
    <h1>{{ name }} 
      <span v-if="changePercent > 0">😃</span>
      <span v-else-if="changePercent < 0">🙃</span>
      <span v-else>😕</span>
      <!-- <span v-show="changePercent > 0">😃</span>
      <pan v-show="changePercent < 0">🙃</pan>
      <span v-show="changePercent == 0">😕</span> -->
      <span v-on:click="toggleShowPrices">{{ showPrices ? '➖' : '➕'}}</span>
    </h1>
    <!-- <ul>
      <li v-for="(price, index) in prices" v-bind:key="price">
        {{ index }} - {{ price }}
      </li>
    </ul> -->
    
    <ul v-show="showPrices">
      <li v-for="(priceWithDay, index) in pricesWithDays" v-bind:key="priceWithDay.day">
        {{ index }} - {{ priceWithDay.day }} - {{ priceWithDay.value }}
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>